@using Wko.BabyTracker.Core.Dtos.Timeline
@using Wko.BabyTracker.Core.Shared.Enums
@using Wko.BabyTracker.Core.Dtos.Profiles
<div class="card card-rounded border-0 text-white @GetEntryStyle()">
    <div class="card-header card-header-rounded d-flex align-items-center @GetEntryHeaderStyle()">
        <div class="card-icon text-black-50">@GetEntryIcon()</div>
        <div class="entry-title">@CardHeader</div>
        <div class="card-edit" @onclick="OnEdit">&#8942;</div>
    </div>
    <div class="card-body">@CardBody</div>
</div>

@code {

    [Parameter, EditorRequired]
    public TimelineEntryType Type { get; set; } = TimelineEntryType.Default;

    [Parameter, EditorRequired]
    public RenderFragment CardHeader { get; set; } = default!;

    [Parameter, EditorRequired]
    public RenderFragment CardBody { get; set; } = default!;
    
    [Parameter] public EventCallback OnEdit { get; set; }

    private string GetEntryStyle()
    {
        return Type switch
        {
            TimelineEntryType.Feeding => "bg-feeding",
            TimelineEntryType.Sleep => "bg-sleep",
            TimelineEntryType.Measure => "bg-measure",
            TimelineEntryType.Milestone => "bg-milestone",
            TimelineEntryType.Nappy => "bg-nappy",
            _ => "bg-light"
            };
    }
    
    private string GetEntryHeaderStyle()
    {
        return Type switch
        {
            TimelineEntryType.Feeding => "bg-feeding--header",
            TimelineEntryType.Sleep => "bg-sleep--header",
            TimelineEntryType.Measure => "bg-measure--header",
            TimelineEntryType.Milestone => "bg-milestone--header",
            TimelineEntryType.Nappy => "bg-nappy--header",
            _ => "bg-light"
            };
    }

    private RenderFragment GetEntryIcon()
    {
        return Type switch
        {
            TimelineEntryType.Feeding => @<i class="fa-solid fa-utensils"></i>,
            TimelineEntryType.Sleep => @<i class="fa-solid fa-bed"></i>,
            TimelineEntryType.Measure => @<i class="fa-solid fa-scale-balanced"></i>,
            TimelineEntryType.Milestone => @<i class="fa-solid fa-award"></i>,
            TimelineEntryType.Nappy => @<i class="fa-solid fa-poop"></i>,
            _ => @<i class="fa-solid fa-utensils"></i>
            };
    }

}
