@page "/timeline"
@page "/timeline/{id:guid}"
@using TimelineEntry = Wko.BabyTracker.Features.Timeline.Components.TimelineEntry
@inject IDispatcher Dispatcher

@if (!ViewModel.IsProfileSelected)
{
    <div>Select a Profile</div>
    @foreach (var profile in ViewModel.AvailableProfiles)
    {
        <a class="badge" href="timeline/@profile.Id">@profile.FirstName</a>
    }
}

@if (!ViewModel.HasTimelineEntries)
{
    <img src="svg/no_profiles.svg" alt="No entries available" class="opacity-25"/>
}

@foreach (var group in ViewModel.TimelineGroups)
{
    <div class="timeline-group">@group</div>
    @foreach (var entry in ViewModel.GetTimelineEntriesByGroup(group))
    {
        <TimelineEntry Type="@entry.Type" OnEdit="() => HandleEdit(entry.Id)">
            <CardHeader>@ViewModel.GetEntryTitle(entry)</CardHeader>
            <CardBody>@ViewModel.GetEntryBody(entry)</CardBody>
        </TimelineEntry>
    }
}

<EntryEdit @ref="_editComponent"/>

@code {

    [Parameter] public Guid? Id { get; set; }

    private TimelineViewModel ViewModel { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        ViewModel = await TimelineViewModelBuilder.ForChildId(Id).Build(Dispatcher);
        await base.OnParametersSetAsync();
    }

    private EntryEdit? _editComponent;
    
    private void HandleEdit(Guid id)
    {
        _editComponent?.Show(id);
        Console.WriteLine($"Edit {id}");
    }

}
